*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cambria', sans-serif;
}

:root{
 --primary-color   : blue;
 --secondary-color : #15157e;
}

header{
 background-color: var(--secondary-color);
}